.featured_content{
	position:relative;
	width: 100%;
}

.featured_content ol.position-right{
  right: 0;
}

.featured_content ol.position-left{
  left: 0;
}

.featured_content div.position-right{
  margin-left: 20%;
}

.featured_content div.position-left{
  margin-left: 0;
}

.featured_content .ui-tabs-nav{
  list-style-type: none;
  position: absolute;
  top: 0;
  list-style: none;
  width: 20%;
  z-index: 2;
}

.featured_content .ui-tabs-nav li a{
  color: #2a2a2a;
}

.featured_content .ui-tabs-nav li span{
  line-height: 1.5em;
  font-size: 1.4em;
}

.featured_content .ui-tabs-panel{
  width: 80%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.featured_content .ui-tabs-hide{
  display: none;
}

.featured_content .ui-tabs-nav-item a{
  display: block;
  outline: none;
  height: 100%;
}

.featured_content .ui-tabs-nav-item a:hover{
  font-weight: bold;
}

.featured_content .ui-tabs-selected{
  font-weight: bold;
}

.featured_content .featured_post_content{
  float: left;
  padding: 1em;
  font-size: 1.4em;
}
.featured_content .call_to_action{
  background: #B4B5B0;
  padding: 1em 1.5em;
  display: inline-block;
  margin-top: 1em;
  text-align: center;
}